*{
	overflow-y: hidden;
}

body {
	background: #90bcd1;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

h1{
	padding: 5%;
	color: white;
	font-size: 10rem;
	font-weight: bold;
	background-color: #f76211;
	height: 40vh;
}